<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnlbc.dao.Goods_bannerMapper">
    <select id="findspecial" resultType="com.cnlbc.domain.Goods_banner">
        select * from goods_banner where id = #{id}
    </select>
</mapper>